:root{
  --primary-color:#ff3131;
}

.text-main{
  color: var(--primary-color);
}
.main-btn{
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background: var(--primary-color);
  border-radius: 5px;
}